/* View Transtion 
############################################################################ */

::view-transition-group(root) {
  animation-duration: 0.5s;
}

@keyframes slide-out {
  to {
    opacity: 1;
    transform: scale(3) translateY(-100vh);
  }
}

@keyframes move-out {
  from {
    transform: translateX(0%) scale(1);
  }

  to {
    transform: translateX(100%) scale(2);
  }
}

@keyframes move-in {
  from {
    transform: translateX(100%) scale(2);
  }

  to {
    transform: translateX(0%) scale(1);
  }
}

::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
}